%html
  %head
    %title Jasmine Spec Runner
    = stylesheet_link_tag "jasmine"
    = stylesheet_link_tag "spec", @asset_options.clone
    - if respond_to? :requirejs_include_tag
      = requirejs_include_tag "#{Jasminerice.requirejs_module}"
    = javascript_include_tag "jasminerice"
    = javascript_include_tag @specsuite, @asset_options.clone
    = csrf_meta_tags
  %body
